@import url('https://fonts.googleapis.com/css2?family=Inder&family=KoHo:wght@500&family=Lexend&family=Poppins&family=Princess+Sofia&family=Qwitcher+Grypen:wght@700&display=swap');


*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    text-decoration: none;

}

html{
    scroll-behavior: smooth;
    scroll-padding-top: 32px;
    
}

/*Header*/
header{
    display: flex;
    flex-direction: row;
    background-color: #e6ddd4ad;
    height: 90px;
    align-items: center;
    justify-content: space-around;
    font-family: Lexend;
    position: sticky;
    top: 0;
    z-index: 1;
    transition-property: all;
    transition-duration: .20s;
    transition-delay: .10s;

}

header:hover{
    background-color: #e6ddd4;
}

header img{
    width: 61px;
    height: 61px;
}

header menu{
    display: flex;
    flex-direction: row;
    font-size: 24px;
    color: #8A0F0F;
    list-style: none;
    gap: 40px;
}

header menu li{
    border-bottom: 1px solid #8A0F0F;

}

a:visited{
    color: #8A0F0F;
}

a{
    color: #8A0F0F;
}


main{
    height: 488px;
    background-image: url("../media/dog-main-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main h1{
    color: #F0F4F9;
    font-family: Poppins;
    font-size: 24px;
    font-weight: 400;

}

main select{
    margin-top: 10px;
    margin-right: 10px;
    width: 730px;
    height: 70px;
    border-radius: 20px;
    background: #F0F4F9;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-size: 25px;
    text-align: center;
}

main input{
    width: 125px;
    height: 39px;
    border-radius: 20px;
    background: #8A0F0F;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border: none;
    color: #F0F4F9;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    transition-property: all;
    transition-duration: .20s;
    transition-delay: .10s;
    cursor: pointer;

}

main h2{
    color: #E6DDD4;
    font-family: Princess Sofia;
    font-size: 48px;
    font-weight: 400;
}


main button{
    width: 248px;
    height: 70px;
    border-radius: 20px;
    background: #F0F4F9;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: #8A0F0F;
    font-family: Poppins;
    font-size: 24px;
    border: none;
    font-weight: 600;
    transition-property: all;
    transition-duration: .20s;
    transition-delay: .10s;
    cursor: pointer;
}

main button:hover{
    scale: 125%;
}

main input:hover{
    scale: 110%;
}

.raça-container{
    margin-top: 35px;
    display: none;
    align-items: center;
    justify-content: center;
}

.raça-container .raça-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 1174px;
    height: 935px;
    gap: 60px;
    border-radius: 20px;
    background: #FDF0E4;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

}

.raça-container .raça-content h1{
    font-family: Poppins;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;

}

.raça-container .raça-content p{
    font-family: Poppins;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    width: 528px;

}

.raça-container .raça-content .infos{
    display: flex;
    flex-direction: row;
    gap: 70px;
    align-items: center;
}

.raça-container .raça-content .infos .foto{
    width: 500px;
    height: 500px;
    overflow: hidden;
    border-radius: 20px;
}
.raça-container .raça-content .infos .foto img{
    width: 100%;
    height: 100%;
  
}

.raça-container .raça-content .infos .txt{
    display: flex;
    flex-direction: column;
    font-family: Poppins;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    gap: 15px;

}

#grid-container{
    width: 1174px;
    height: 1361px;
    border-radius: 20px;
    background: #FDF0E4;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display: none;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    gap: 30px;
    padding: 2%;
}

.grid{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.card{
    width: 300px;
    height: 300px;
    border-radius: 20px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    overflow: hidden;
  }

.card img{
    width: 100%;
    height: 100%;
}

#mais{
    margin-top: 25px;
    display: none;
    width: 248px;
    height: 70px;
    color: #8A0F0F;
    text-align: center;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    border-radius: 20px;
    background: #F0F4F9;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border: none;
    cursor: pointer;
    transition-property: all;
    transition-duration: .20s;
    transition-delay: .10s;
}

#mais:hover{
    scale: 110%;
}

#dicas-adoção{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

#dicas-adoção .titulo{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1075px;
    height: 126px;
    background: #D3DEEE;
}

#dicas-adoção .titulo h1{
    font-family: Poppins;
    font-size: 24px;
    height: 76px;
}

#dicas-adoção .dica{
    margin-top: 100px;
    display: flex;
    align-items: center;
    gap: 200px;
   
}

#dicas-adoção .dica .content{
    display: flex;
    flex-direction: column;
    align-items: center;
   
}

#dicas-adoção .dica .content .t-container{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 40px;
    margin-bottom: 20px;
    
   
}

#dica{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 127px;
    height: 56px;
    border-radius: 20px;
    background: #8C6936;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
    color: #F0F4F9;
    font-family: Poppins;
    font-size: 28px;
}

#dicas-adoção .dica .content h2{
    color: #8A0F0F;
    text-align: center;
    font-family: Poppins;
    font-size: 36px;
   
}

#dicas-adoção .dica .dica-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 667px;
    height: 428px;
    border-radius: 20px;
    background: #D3DEEE;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
   
}

#dicas-adoção .dica .dica-container p{
    font-family: Poppins;
    font-size: 24px;
    margin: 40px;
   
}



#dicas-adoção .a{
    flex-direction: row;
   
}

#dicas-adoção .b{
    flex-direction: row-reverse;
}


footer{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
}

.footer-content{
    margin-top: 300px;
    width: 1313px;
    height: 932px;
    border-radius: 20px;
    background: #E6DDD4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

}

.footer-content p{
    text-align: center;
    font-family: Inder;
    font-size: 24px;

}

.footer-content .info{
    display: flex;
    flex-direction: column;
    align-items: center;
   
}

.footer-content .info p{
    width: 693px;
   
}

.footer-content .info .logo{
    display: flex;
    flex-direction: row;
    align-items: center;
   
}

.footer-content .info .logo h1{
    color: #242647;
    font-family: Inder;
    font-size: 40px;
   
}

.footer-content .links{
    display: flex;
    flex-direction: row;
    gap: 200px;
   
}

.footer-content .links div{
    display: flex;
    flex-direction: column;
    gap: 20px;
   
}

.footer-content .links picture a{
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
   
}

.footer-content .linha{
    width: 757px;
    height: 1px;
    background: #8A0F0F;
}

.footer-content .direitos{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer-content .direitos p{
    font-size: 18px;
    width: 499px;
    height: 58px;
}


.footer-content .c{
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 40px;
}

.footer-content .c p{
    font-size: 18px;
}
